$terminal-color: #28FE14;
$hover-color: #118800;

.app {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  height: 100%;

  color: $terminal-color;

  .page-content {
    padding: 2rem;

    p {
        font-size: 20px;
    }

    h3 {
        margin-left: 1rem;
    }

    .tab-btn {
        outline: none;
        border: 1px $terminal-color solid;
        padding: 14px 16px;
        background-color: inherit;
        color: inherit;
        margin-right: 1rem;
        cursor: pointer;

        z-index: 2;

        &:hover {
            background-color: $hover-color;
        }
    }
    .tab-btn.selected {
        color: white;
    }

    .tab-panels {
        border: 1px $terminal-color solid;
        margin-top: -1px;
        padding: 1rem;
    }

    .rock-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rock-container img {
        width: 30%;
    }

    .attack1-img-container {
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .attack1-img {
            width: 30%;
            object-fit: scale-down;
        }
    }

    .submit-btn {
        margin: 2rem;
        border: 1px solid $terminal-color;
        background-color: inherit;
        color: inherit;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: $hover-color;
        }
    }

    .terminal {
        padding-bottom: 200px;
    }
  }
}